<div class="topPage">
  <div class="projectWrapper">
    <% @projects.each do |project| %>
      <div class="project">
        <div class="project_header">
          <h2 class="project_header_title"><%= project.name %></h2>
          <h3 class="project_header_job_num"><%= project.job_num %></h3>
          <div class="project_header_action">
            <%= link_to content_tag(:i, '', class: 'fas fa-trash'), project, method: :delete, data: { confirm: "#{project.name}を削除して大丈夫ですか？" } %>
            <%= link_to(content_tag(:i, '', class: 'fas fa-pen'), edit_project_path(project)) %>
          </div>
        </div>
        <div class="taskWrapper">
          <% project.tasks.each do |task| %>
            <%= link_to project_task_path(project, task), class:"taskDetail_link" do %>
              <div class="task">
                <h3 class="task_name"><%= task.name %></h3>
                <% if task.content.size > 0 %>
                  <div class="task_detail is-exist"><i class="fas fa-bars"></i></div>
                <% end %>
              </div>
            <% end %>
          <% end %>
          <div class="addTask">
            <i class="far fa-plus-square"></i>
            <%= link_to "さらにタスクを追加", new_project_task_path(project), class: "addTask_link" %>
          </div>
        </div>
      </div>
    <% end %>
      <div class="project">
        <div class="project_add">
          <%= link_to new_project_path, class: "nav-link" do %>
            <span class="mr-1">+ プロジェクトを追加</span>
          <% end %>
        </div>
      </div>
  </div>
</div>
